html, body {
    height: 100%;
}

body {
    background: url('/media/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.15rem;
}

/* --------------------------------- buttons */

.add-to-bag-btn {
    border-radius: 26px;
    background-color: #fff;
    border: none;
    color: #000;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.add-to-bag-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.add-to-bag-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.add-to-bag-btn:hover span {
    padding-right: 25px;
}

.add-to-bag-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.shopping-btn {
    background-color: #000;
    color: #fff;
}

.shopping-btn:hover {
    background-color: #fff;
    color: #000;
}

.btn-green {
    background: #212E2F;
    color: #fff;
    border: 1px solid transparent;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background-color: #fff;
    color: #212E2F;
    border: 1px solid black;
    margin: -0.1px;
}

.shop-now-button {
    background: #212E2F;
    color: #E4D9EA;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #E4D9EA;
    color: #212E2F;
}

.checkout-btn {
    background-color: #3B5537;
    color: #fff;
}

.checkout-btn:hover {
    background-color: rgba(59, 85, 55, 0.4);
    color: #000;
}

.btn-lg:hover {
    text-decoration: none;
}

.increment-btn {
    background-color: #000;
    color: #fff;
}

.increment-btn:hover {
    background-color: greenyellow;
    color: #000;
}

.decrement-btn {
    background-color: #000;
    color: #fff;
}

.decrement-btn:hover {
    background-color: red;
    color: #000;
}

.pointer {
    cursor: pointer;
}

/* --------------------------------- Colors */

.text-black {
    color: #000 !important;
}

.text-cream {
    color: #F3F0EB;
}

.text-cream:hover {
    text-decoration-style: solid;
    color: #F3F0EB;
}

.border-black {
    border: 1px solid black !important;
}

.bg-green {
    background-color: #3B5537;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* --------------------------------- Measurements */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.rounded-search {
    border-radius: 10px !important;
}

.main-logo-link {
    width: fit-content;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

table td {
    vertical-align: middle !important;
}

.bag-notification-wrapper {
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* --------------------------------- Font */

.product-text {
    font-size: 1.5rem;
}

.page-title {
    font-family: 'Kanit', sans-serif;
    font-size: 2.5rem;
}

.logo-font {
    text-transform: uppercase;
}

#home-text {
    font-size: 3.5rem;
}

/* ---------------------------------back to top button -- taken from https://codepen.io/matthewcain/pen/ZepbeR */
#button {
    display: inline-block;
    background-color: #212E2F;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #E4D9EA;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/*--------------------------------- toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/*--------------------------------- Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: white;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #8de9f7;
}

/* --------------------------------- Footer */


.list-group-item a {
    color: #000;
    font-size: 1.5rem;
}

.footer-item {
    font-size: 1.5rem;
}

#mc_embed_signup {
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif; 
}

/* --------------------------------- Brand list items */

.brands ul li {
    list-style-type: circle;
}

.brands ul li a {
    color: #000;
}
/*--------------------------------- media queries */

@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /*--------------------------------- fixed top navbar only on medium and up */
  @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
  
    .header-container {
        padding-top: 164px;
    }
  }

  /*--------------------------------- make sure text isn't overflowing the header on small screens */

  @media (max-width: 992px) {
    .header-container {
        padding-top: 120px;
    }

    body {
        height: calc(100vh - 120px);
    }

    #home-text {
        font-size: 2rem;
    }

    footer {
        width: 100%;
    }

    .footer-item {
        font-size: 1rem;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
        font-size: 0.9rem;
    }

    .nav-link i.fa-lg {
        font-size: 0.9rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .delivery-banner {
        font-size: 0.9rem;
    }

    .product-text {
        font-size: 1rem;
    }

    .btn.btn-sm.border-black {
        font-size: 0.75rem;
        margin-bottom: 0 !important;
    }

    .btn-lg.mt-5 {
        padding: 0.4rem;
        font-size: 0.8rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    #sort-selector {
        margin-bottom: 15px;
    }

    #description-text {
        font-size: 0.9rem;
    }

    .keep-shopping {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .checkout-btn {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

  }